<div class="container">
  <div class="row justify-content-center cta-button-row-and-link">
    <div class="col-4">
      {% include "components/01-atoms/buttons/cta-button.twig" with {
        buttonText: buttons[0].text,
        onClick: buttons[0].onClick,
        class: buttons[0].class
      } %}
    </div>
    <div class="col-4">
      {% include "components/01-atoms/buttons/cta-button.twig" with {
        buttonText: buttons[1].text,
        onClick: buttons[1].onClick,
        class: buttons[1].class
      } %}
    </div>
    <div class="col-4">
      {% include "components/01-atoms/buttons/cta-button.twig" with {
        buttonText: buttons[2].text,
        onClick: buttons[2].onClick,
        class: buttons[2].class
      } %}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      {% include "components/01-atoms/links/link-atom.twig" with {
        text: linkText,
        url: linkUrl,
        class: linkClass
      } %}
    </div>
  </div>
</div>